name: Build Flutter App

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.22.0'

      - name: Get Dependencies
        run: flutter pub get

      - name: Create Android Project
        run: flutter create . --platforms=android

      - name: Update Android minSdkVersion
        run: |
          sed -i 's/minSdkVersion flutter.minSdkVersion/minSdkVersion 23/g' android/app/build.gradle
          sed -i 's/minSdkVersion [0-9]\+/minSdkVersion 23/g' android/app/build.gradle

      - name: Build APK
        run: flutter build apk --release

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: quakesafe-flutter-release
          path: build/app/outputs/flutter-apk/app-release.apk
